<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">
  <Identity
    Name="sdf123098.AppDepot"
    Publisher="__PUBLISHER__"
    Version="__VERSION__"
    ProcessorArchitecture="__ARCHITECTURE__" />
  <Properties>
    <DisplayName>AppDepot</DisplayName>
    <PublisherDisplayName>AppDepot</PublisherDisplayName>
    <Description>AppDepot Windows app store client</Description>
    <Logo>Assets\AppDepot.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application
      Id="AppDepot"
      Executable="AppDepot.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="AppDepot"
        Description="AppDepot Windows app store client"
        BackgroundColor="#000000"
        Square150x150Logo="Assets\AppDepot.png"
        Square44x44Logo="Assets\AppDepot.png"
        AppListEntry="default" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
